.container{
	max-width: 600px;
	margin: auto;
}

.loginPage__inputWrap:not(:last-child) {
	margin-bottom: 15px;
  }


.loginPage__label {
	width: 100%;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 5px;
  }

.loginPage__input {
	width: 90%;
	transition: height .2s;
	border: 1px solid #abe6f8;
	border-radius: 4px;
	resize: none;
	padding: 8px;
	font-size: 11px; 
	align: center; 
  }
  
.UserPage__btnLogin {
	color: white;
	background-color: #58CEF2;
	border-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding: 5px 11px;
	text-align: center;
	white-space: nowrap;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	max-width: 100px;
  }